{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-5 text-center">
    <h2>Carrito de Compras</h2>
</div>
{% if aviso  %}
    <h2>{{ aviso }}</h2>
{% endif %}

<table class="table" style="width:90%">

    <thead>
        <tr>
            
            <th></th>
            <th>Servicio</th>
            <th>Precio Unit.</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ser in carrito %}
        <tr>
            <th><input type="number" name="cantidad" id="" min="1" max="1" style="width: 80px;"></th>
            <td><img src="{{ ser.icono.url }}" alt="X"></td>
            <td>{{ser.nombre }}</td>
            <td>{{ser.valor}}</td>
            <td>{{ser.total}}</td>
            <td>
                <a href="{% url 'eliminar' ser.id %}" class="btn btn-danger btn-carrito">Eliminar</a>
                <a href="{% url 'servicio' ser.id %}"class="btn btn-warning btn-carrito">Detalle</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<div class="col-6 offset-4 row justify-content-center border-bottom">

    <div class="col-6 text-end">
        <h6><strong> Subtotal</strong></h6>
       
        <h6><strong>A Pagar</strong></h6>
    </div>
    <div class="col-6 text-end">
        <h6><strong>${{ subtotal }}</strong></h6>
       
        <h6><strong>${{ total }}</strong></h6>
    </div>
<br>
    <a href="{% url 'citas' %}" class="btn btn-warning btn-carrito">Pagar</a>
</div>
<br><br>

<!-- FIN BLOQUE PRINCIPAL -->
{% endblock %}