{% load static %}

<div id="bordef">
<footer class="bg-dark text-center text-white">
    <br>
    <p></p>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/CamiF07" role="button"
          ><i class="bi bi-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="bi bi-twitter"></i
        ></a>
            
        <!-- Whatsapp -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/573202588249" role="button"
          ><i class="bi bi-whatsapp"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com/camif07?igshid=NjZiMGl4OTY" role="button"
          ><i class="bi bi-instagram"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:#0000;">
      © 2022 Copyright F&E CORP
      
    </div>
    <!-- Copyright -->
  </footer>
  



