{% load static %}
<footer>
    <p>F&E Corp, Copyright &copy; 2022 </p>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="servicios.html">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactenos.html">Contactenos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="citas.html">Citas</a>
        </li>
      </ul>

</footer>