#borde {
    border-bottom: 5px solid #efb810;
}
#bordef{
    border-top: 5px solid #efb810;
    
}

#letra {

    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.map {
    width: 612px;
}
.mapa {
    width: 650px;
    padding: 5px 15px;
    border: #efb810 5px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #efb810;

}



.text{
    margin: 40px;
    margin-right: 45px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight:lighter;
    

}



.imagenes{
    width: 100%;
}







.services .card-body i{
    font-size: 50px;  
    
   }
.titlemh2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #930001;
    text-decoration:overline;
    
}
.titlemh1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #930001;
    
}












 