<div id="borde">
    <div class="row">
        <div class="p-3 col-sm-6">
            <h1>Más sobre nosotros.</h1>
            <p class="text">Suscribete para recibir más información acerca de la página,recibir notificaciones de descuentos y
                promociones a su vez para conocer más sobre el servicio que vas a requerir. </p>
        </div>
        <div class="p-2 col-sm-6">
            <img src="{% static 'img/JuanCamilo.png'%}" alt="" height="140px" width="655">
        </div>
    </div>


    <div class="row">
        <div class=" p-5 col-sm-6">
            <form class="col-6">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <h3>FORMULARIO</h3>
                        <label for="nombres">Nombres: </label>
                        <input type="text" class="form-control" id="nombres" placeholder="Ingrese sus nombres...">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" class="form-control" id="apellidos"
                            placeholder="Ingrese sus apellidos...">
                    </div>
                </div>
                <div class="form-group col-md-9">
                    <label for="servicio">Servicio: </label>
                    <select id="servicio" class="form-control">
                        <option selected>Escoja un servicio...</option>
                        <option>Auditoría</option>
                        <option>Impuestos</option>
                        <option>Revisoría Fiscal</option>
                        <option>Outsourcing</option>
                    </select>
                </div>
                <div class="form-group col-md-9">
                    <label for="numero">Telefono</label>
                    <input type="number" class="form-control" id="numero"
                        placeholder="Ingrese su numero de celular...">
                </div>
                <div class="form-group col-md-9">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="Ingrese su correo electronico...">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad"
                            placeholder="Ingrese su ciudad de residencia...">
                    </div>
                </div><br>
                <button type="submit" class="btn btn-warning">Enviar</button>
            </form>
        </div>
        <div class=" p-2 col-sm-6">
            <aside class="mapa">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.516435108!2d-74.2482348053958!3d4.648283649917542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses-419!2sco!4v1662558802716!5m2!1ses-419!2sco"
                    width="780" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </aside>
        </div>
    </div>
</div>