{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="separadores">
    <h2> INGRESO </h2>
</div>

<section id="principal">
    <div class="contenedor">


        <form class="row g-3 form-register" action="{%url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Escriba su correo...">
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Escriba su contraseña...">
            </div>

            <div class="col-md-4">
                <label for="servicio" class="form-label">Servicio</label>
                <select class="form-select" name="rol" id="tipoUsuario>
          <option selected value=" admin">Administrador del Sistema</option>
                    <option selected value="gerente">Gerente</option>
                    <option selected value="asistente">Asistente</option>
                </select>


                <h4>¿No tienes cuenta?,<a href="{% url 'registro'%}">Resgístrate aquí</a></h4>
                <button class="btn btn-primary" name="registrarse" type="submit" value="ingresar"></button>
            </div>
        </form>

    </div>


    <!-- ale -->


    {% endblock %}