{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="boletin">
    <div class="contenedor">
        <h1>Registrarse</h1>
    </div>
</section>
<section id="principal">
    <div class="contenedor">
       
            <h3>Ingresa para mostrarte todos los servicios que requieras</h3>

            <form action="#" target="" method="get" name="formDatosPersonales">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombres.</label>
                    <input type="text" class="form-control" id="exampleName1"  name="Nombres"required>
                    <div id="emailHelp" class="form-text">Ingresa tu nombre completo.</div>
                 </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo electronico.</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  <div id="emailHelp" class="form-text">No compartiremos tu información con nadie.</div>
                </div>
                <div class="mb-3">
                  <label for="asunto" class="form-label">Contraseña</label>
                  <input type="password"name="password" class="form-control" id="password"required>
                </div>
                <div class="mb-3">
                    <label for="asunto" class="form-label">Confirmar contraseña</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirmar contraseña"required>
                  </div>
                <br>
                <button type="button" class="btn btn-success" name="Registrarse value="Registrarse">Submit</button>
            </form>
            <br>
                    
    </div>
</section>
{% endblock %}