{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="boletin">
    <div class="contenedor">
        <h1>Registrarse</h1>
    </div>
</section>

<section id="principal">
    <div class="contenedor">

        <form class="row g-3" action="#" target="" method="get" name="formDatosPersonales">
            <div class="col-md-6">
                <label for="nombres" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="nombres" placeholder="Escriba sus nombres...">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Escriba su email...">
            </div>
            <div class="col-12">
                <label for="contraseña" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" placeholder="Escriba su contraseña...">
            </div>
            <div class="col-12">
                <label for="contraseña" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="confirmContraseña"
                    placeholder="Escriba denuevo su contraseña...">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary" value="Registrarse" />Registrarse</button>
            </div>
        </form>

    </div>
</section 



{% endblock %}